
#
# Ignore by Git (Compare to excludes in Jekyll's '_config.yml'.)
#

####### Jekyll

_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

Gemfile.lock

.bundle/

# Just having `vendor/` or `vendor/bundle` cause a path issue between
# the GitHub action that builds the site and bootstrap.
./vendor/bundle/

####### LibreOffice

.~lock.*#

####### GitHub Secrets

# The github action appends the API keys to this file.  
# Store them locally in this file.
_data/secrets.yml

####### Events data

# Events are stored in `_etc/events.ods` but used 
# as `_data/events.csv`.
#
# To get the csv file, either
#
#   1. Manually run `./_etc/convert-events-to-csv.sh`, or
#   2. Use the GitHub action `.github/actions/libreoffice`.
#

_data/events.csv

