
#
# Ignore by Git (Compare to excludes in Jekyll's '_config.yml'.)
#

# Jekyll

_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

Gemfile.lock

.bundle/

# Just having 'vendor/' will cause an error in Github Pages + Bootstrap.
vendor/bundle/

# Don't save secrets, even if you whisper them aloud.
_data/secrets.yml

# This gets created from '_data/events.ods'
# _data/events.csv

