
<footer class="row align-center text-center">

  <!-- Nameplate -->
  <div class="col-sm-6 text-muted align-self-center">
    <span class="align-middle">
    <a href="{{ '/' | relative_url }}">
      <img
          src="{{ '/assets/css/img/ts-logo-small.png' | relative_url }}"
          alt="Trail Sangha Logo"
          class="ts-logo-footer"
      >
    </a>
    <p class="fs-6 text-muted">
      {{ site.data.footer.address }}<br>
      <a href="mailto:{{ site.data.footer.email }}" class="link-soft">{{ site.data.footer.email }}</a><br>
      <a href="{{ site.data.footer.url }}" class="link-soft">{{ site.data.footer.web }}</a><br>
      <small>&copy;&nbsp;Copyright&nbsp;{{ site.time | date: '%Y' }},&nbsp;{{site.data.footer.name}}</small>
    </p>
    </span>
  </div>

  <!-- HR _ONLY_ when horizontal. Tweak spacing. -->
  <div class="col-sm-6 d-sm-none d-block">
    <hr class="pb-3">
  </div>

  <!-- Basic Navigation -->
  <div class="col-sm-6 align-self-center">
    <nav>
      <p class="fs-5 text-uppercase">
        {% for item in site.data.nav.items %}
          <a href="{{ item.url | relative_url }}" class="link-dark">
              {{ item.name }}
          </a>
          {%- unless forloop.last -%}
            <br>
          {% endunless %}
        {% endfor %}
      </p>
    </nav>
  </div>

</footer>

