
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }} - {{ page.title }}</title>

  <link rel="icon" type="image/x-icon" href="{{ '/assets/css/img/favicon.jpg' | relative_url }}{%- include cache-buster.html -%}">

   {% seo %}
 
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{{ '/assets/css/ts-bootstrap.css' | relative_url }}{%- include cache-buster.html -%}">
 
  {% if page.components contains 'calendar' %}
    <!-- Bootstrap-Icons CSS-->
    <link rel="stylesheet" href="{{ '/assets/libs/bootstrap-icons/css/bootstrap-icons.css' | relative_url }}{%- include cache-buster.html -%}">

    <!-- FullCalendar CSS -->
    <link rel="stylesheet" href="{{ '/assets/libs/fullcalendar/css/main.min.css' | relative_url }}{%- include cache-buster.html -%}">

   {% endif %}
 
  {% if page.components contains 'maps' %}

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="{{ '/assets/libs/leaflet/css/leaflet.css' | relative_url }}{%- include cache-buster.html -%}">
 
    <!-- Leaflet.fullscreen CSS -->
    <link rel="stylesheet" href="{{ '/assets/libs/leaflet.fullscreen/css/leaflet.fullscreen.css' | relative_url }}{%- include cache-buster.html -%}">
   {% endif %}
 
   <link rel="stylesheet" href="{{ '/assets/css/ts-styles.css' | relative_url }}{%- include cache-buster.html -%}">
  <!-- End: CSS -->
 
 </head>

