
<!-- Bootstrap Bundle JS -->
<script src="{{ '/assets/modules/bootstrap/js/bootstrap.bundle.min.js' | relative_url}}?v={{ 'now' | date: '%Y.%m.%d.%H.%M' }}"></script>

{% if page.components contains 'calendar' %}
  <!-- fullCalendar JS -->
  <script src="{{ '/assets/modules/fullcalendar/js/main.min.js' | relative_url}}?v={{ 'now' | date: '%Y.%m.%d.%H.%M' }}"></script>
{% endif %}

{% if page.components contains 'maps' %}
  <!-- Leaflet JS -->
  <script src="{{ '/assets/modules/leaflet/js/leaflet.js' | relative_url}}?v={{ 'now' | date: '%Y.%m.%d.%H.%M' }}"></script>

  <!-- Leaflet.fullscreen JS -->
  <script src="{{ '/assets/modules/leaflet.fullscreen/js/leaflet.fullscreen.min.js' | relative_url }}?v={{ 'now' | date: '%Y.%m.%d.%H.%M' }}"></script>
{% endif %}

<!-- This page JS -->
{% for item in page.assets.js %}
  <script src="{{ item | relative_url }}?v={{ 'now' | date: '%Y.%m.%d.%H.%M' }}"></script>
{% endfor %}

