---
---

//
// Generic Styling
//

//
// Check out compiled bootstrap.scss for a long list of vars availble in css.
//

//footer, header, div {border: dotted red 1px;}

////// Basic Styles


// Body background
body {
  background-image: 
    url(./images/ts-body-bg.png),
    linear-gradient(to bottom, #d7d5c6, #050302);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
}

body {
  color: var(--bs-hard);
}

p {
  color: var(--bs-soft);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top:1em;
}

// Footer
.ts-logo-footer {
  height: 5em;
}


/////// Maps

.ts-map-basic {
  width: 100%; 
  height: 400px; 
  //border: 1px solid red;
}


/////// Calendar

// Prefer native JS functionality to styles.

// Trail sangha calendar event styling
.ts-walk-event {}
.ts-hike-event {}
.ts-trip-event {}
.ts-holiday-event {}

// Gray out past events.  Ideally, we would do this in the front end rather 
// but that is harder, slower to load, and seems more difficult to maintain.
// These get overridden by explicit front-end settings, so use !important.
.fc-event-past{
  // --bs-past is generated in the TS Bootstrap template.
  background-color: var(--bs-past)!important; 
  border-color:     var(--bs-past)!important;
}

// Gray out past day background.  Unfortunately, this changes the grid color, 
// and makes things overly ugly... oh well.
//.fc-day-past{background-color:#f4f4f4;}

// Cram in descriptions and wrap lines (also set "height: 'auto'" in front-end.
.fc-title, 
.fc-event, 
.fc-event-dot 
{
  // Smaller font!
  font-size: .8em;
}
.fc-event-time, 
.fc-event-title {
  // Line wrapping!
  padding: 0 1px;
  white-space: normal;
}

