{% comment %}

Color Debugging

Display colors with contrasting text.

{% endcomment %}

<div class="row">
  <div class="col ratio ratio-1x1 text-bg-primary">Primary</div>
  <div class="col ratio ratio-1x1 text-bg-secondary">Secondary</div>
  <div class="col ratio ratio-1x1 text-bg-success">Success</div>
  <div class="col ratio ratio-1x1 text-bg-info">Info</div>
  <div class="col ratio ratio-1x1 text-bg-warning">Warning</div>
  <div class="col ratio ratio-1x1 text-bg-danger">Danger</div>
  <div class="col ratio ratio-1x1 text-bg-black">Black</div>
  <div class="col ratio ratio-1x1 text-bg-dark">Dark</div>
  <div class="col ratio ratio-1x1 text-bg-hard">Hard</div>
  <div class="col ratio ratio-1x1 text-bg-soft">Soft</div>
  <div class="col ratio ratio-1x1 text-bg-past">Past</div>
  <div class="col ratio ratio-1x1 text-bg-footer">Footer</div>
  <div class="col ratio ratio-1x1 text-bg-light">Light</div>
  <div class="col ratio ratio-1x1 text-bg-white">White</div>
  <div class="col ratio ratio-1x1 text-bg-walk">Walk</div>
  <div class="col ratio ratio-1x1 text-bg-hike">Hike</div>
  <div class="col ratio ratio-1x1 text-bg-trip">Trip</div>
  <div class="col ratio ratio-1x1 text-bg-holiday">Holiday</div>
  <div class="col ratio ratio-1x1 text-bg-special">Special</div>
</div>

